body{
    border: 1px solid;
    background-image: url("dayne-topkin.jpg");
    display: block;
    background-size: cover;
    height: 700px;
    padding-top: 50px;
    border-radius: 20px;

}

input{
    display: block;
    align-items: center;
    width: 300px;
    margin-left: 500px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 1pc;
}

button{
    display: block;
    padding: 10px;
    margin-left: 500px;
    margin-right: 100px;
    width: 100px;
    border-radius: 10pc;
}

h1{
    font-style: italic;
}

select{
    margin-left: 500px;
}
   